@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #e3e6e6;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sidebar-animation{
  animation: sidebar-animate ease-in 0.1s  ;
  }
  @keyframes sidebar-animate {
          from{
              width: 0px;
              overflow: hidden;
          }

          to{
            overflow: visible;
              width:  30vw  ;
          }
  }